@import "../../node_modules/bootstrap/scss/bootstrap";

.cm-fen-editor {
  .chessboard {
      width: 100%;
  }
  .buttons-figures {
    @include media-breakpoint-down(sm) {
      // clear: both;
    }
    button {
      float: left;
      margin-bottom: 0.4rem;
      margin-right: 0.4rem;
      background-color: $gray-500;
    }
    &.buttons-figures-dark {
      button {
        &:active, &.active {
          background-color: $gray-400;
        }
      }
    }
    &.buttons-figures-light {
      button {
        &:active, &.active {
          background-color: $gray-600;
        }
      }
    }
  }
}