@import "../../node_modules/bootstrap/scss/bootstrap";

.cm-fen-editor {
  button {
    i {
      pointer-events: none;
    }
  }
  .buttons-figures {
    button {
      float: left;
      margin-bottom: 0.4rem;
      margin-right: 0.4rem;
      background-color: lighten($gray-500, 5%);
      padding: 0.35rem 0.8rem;
    }
    &.buttons-figures {
      button {
        &:active, &.active {
          background-color: darken($gray-500, 15%);
        }
      }
    }
  }
}